* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 100px;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box1, .box2, .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    height: 200px;
    text-align: center;
}

.box1 {
    background-color: black;
    color: white;
}

.box2 {
    background-color: blueviolet;
    color: white;
}

.box3 {
    background-color: burlywood;
}

.box2 img {
    width: 100px;
}